body {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;

    font-family: Arial, sans-serif;
    line-height: 1.6;

    background: #f5f5f5;
    color: #222;
}

h1 {
    font-size: 42px;
}

h2 {
    margin-top: 50px;
}

h3 {
    margin-top: 35px;
}

p {
    color: #666;
}
.album {
    display: flex;
    align-items: center;
    gap: 25px;

    background: white;
    padding: 25px;
    margin-top: 25px;

    border-radius: 12px;
    transition: 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.cover {
    width: 150px;
    height: 150px;

    object-fit: cover;

    border-radius: 4px;
}
.info h3 {
    margin: 0;
    font-size: 28px;
}

.info p {
    margin: 8px 0;
}
.album:hover {
    transform: translateY(-5px);
}
.album-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
.album-page-cover {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
body {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
   background: #f5f5f5;
}
.loveless-page {
    background: #d1006f;
}
