body {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;

    font-family: Arial, sans-serif;
    line-height: 1.6;

    background: #f5f5f5;
    color: #222;
}

h1 {
    font-size: 42px;
}

h2 {
    margin-top: 50px;
}

h3 {
    margin-top: 35px;
}

p {
    color: #666;
}
.album {
    display: flex;
    align-items: center;
    gap: 25px;

    background: white;
    padding: 25px;
    margin-top: 25px;

    border-radius: 12px;
}

.cover {
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #222;
    color: white;

    font-size: 28px;
    font-weight: bold;
}

.info h3 {
    margin: 0;
    font-size: 28px;
}

.info p {
    margin: 8px 0;
}
